*{
    padding:0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.mainpage{
    height: 100vh;
    width: 100%;
    background-image: url(img1.jpg);
    background-size:cover;
    background-position:center;

}
nav{
    position:fixed;
    width: 84%;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10px;
    background-color: #191919;

}
.logo{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.logo span{
    color:#f9004d;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 12px;
    transition: transform .4s
}
nav ul li:hover{
    transform:scale(1.5);
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    

}
nav ul li a:hover{
    color:#f9004d;
    transform:scale(1.2);
}
.btn{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    border: 2px solid #f9004d;
    background-color: transparent;
    transform:scale(1.2);
}
.content{
    position:absolute;
    top:55%;
    left:8%;
    transform:translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
.content button a{
    text-decoration: none;
    color: white;
}
.content button:hover{
    transform:scale(1.2);
}
.about{
    width: 100%;
    padding: 40px 0px;
    background-color: black;
}
.about img{
    height: auto;
    width:430px;
}
.about-text{
    width:550px;
}
.main{
    width:1130px;
    max-width:95%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2{
    color:white;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h6{
    color:white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: left;
}
.about-text p{
    color:white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 45px;
}
.about-text a{
    color:white;
    text-decoration: none;
}
.skills-box, .skills-box2{
    display: flex;
    justify-content: left;
    align-items: left;
   min-height: 100px;
   width:600px;
   
}
.skills-box2{
    margin-bottom: 40px;
}
.skills-card p{
    font-size: 15px;
}
.skills-card{
    height:70px;
    width:70px;
    padding: 10px 15px;
    background: black;
    border-radius: 20px;
    margin: 5px;
    position:relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f9004d;
}
.skills-card i{
    font-size: 50px;
    display: block;
    text-align: center;
    color:#f9004d;
}

button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}
.services{
    background: black;
    width: 100%;
    padding: 10px 0px;

}
.title h2{
    color: white;
    font-size: 45px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
   display: flex;
   justify-content: center;
   align-items: center;
  min-height: 400px;
}
.card{
    height:550px;
    width:335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position:relative;
    overflow: hidden;
    text-align: center;
    transition: transform .4s;
}
.card:hover{
    transform:scale(1.08);
    background: #301515;
    color:white;
}


.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:#f9004d;
} 
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}

.pra p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.pra:hover{
color: black;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.projects{
    background: black;
    width: 100%;
    padding: 10px 0px;
}
.contact{
    text-align: center;
    background: black;
    width: 100%;
    padding-top: 10px;
    color: white;
    padding-bottom: 20px;
}
.contact p{
    line-height: 25px;
}
.email i{
    font-size: 20px;
    margin-top:5px;
    color:#f9004d;
    padding-right: 10px;
}
.phone i{
    font-size: 20px;
    margin: 25px 0px;
    color:#f9004d;
    padding-right: 10px;
}
.socialicon i{
    font-size: 40px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-decoration: none;
    color: white;
}
.socialicon i:hover{
    transition: transform 0.8s;
    transform:scale(1.5);
    color:#f9004d;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
}
.contact-card{
    border-radius: 15px;
    background-color: #191919;
    height:400px;
    width:350px;
    position:relative;
    overflow: hidden;
    text-align: center;
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.title h3{
    margin-bottom: 40px;
}
.title p{
    
    margin-bottom: 20px;
    line-height: 5px;
}
.email, .phone, .socialicon{
    margin-bottom: 20px;
}
.form form input, .form form textarea{
    text-align: left;
    width:290px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 11px;
}
.form form button{
    width:150px;
    padding-top: 10px;
    margin: 10px;
}
footer{
    font-size: 12px;
    color:#f9004d;
    background-color: #191919;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}
footer p{
    line-height: 1.5em;
}

#go-to-top-button {
    transition: transform 2s;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  
  html,body{
    overflow-x: hidden;
}
@media(min-width:600px){
    .mainpage{
        
        width:100%;
        background-image: url(img1.jpg);
        background-size: 100%;
        background-position-x: right;
        background-repeat: no-repeat;
        background-color: black;
    }
}